<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Site.Title }}{{ $url := urls.Parse .Page.Permalink }}{{ $url.Path }}</title>
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    {{ hugo.Generator }}

    <link rel="stylesheet" href="{{ "console/css/terminal-0.7.1.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "console/css/animate-3.7.2.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "console/css/console.css" | absURL }}">
    {{/* `
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    ` | safeHTML */}}

    {{ range .Site.Params.custom_css }}
      <link rel="stylesheet" href="{{ relURL (.) }}">
    {{ end }}
    {{- partial "head.html" . -}}

    {{ block "favicon" . }}
    {{ partialCached "favicon.html" . }}
    {{ end }}

    {{ if .OutputFormats.Get "RSS" }}
    {{ with .OutputFormats.Get "RSS" }}
      <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
      <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
      {{ end }}
    {{ end }}

    {{- template "_internal/opengraph.html" . -}}
    {{- template "_internal/schema.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}

</head>
<body class="terminal">
    <div class="container">
        <div class="terminal-nav">
          <header class="terminal-logo">
            <div class="logo terminal-prompt">
              {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
              {{ $.Scratch.Add "path" .Site.BaseURL }}
              <a href="{{ .Site.BaseURL }}" class="no-style {{ with .Site.Params.TitleCutting }}site-name{{ end }}">{{ .Site.Title }}</a>:~# 
              {{ range $index, $element := split $url "/" }}{{ $.Scratch.Add "path" $element }}{{ if ne $element "" }}<a href='{{ $.Scratch.Get "path" | absURL }}'>{{ . }}</a>/{{ $.Scratch.Add "path" "/" }}{{ end }}{{ end }}</div></header>
          <nav class="terminal-menu">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                {{ range .Site.Params.navlinks }}
                <li><a href="{{ absURL .url }}" typeof="ListItem">{{ .name }}</a></li>
                {{ end }}
            </ul>
          </nav>
        </div>
    </div>

    <main class="container animated zoomIn fast">
        {{ block "main" . }}
        {{ end }}
        {{ partial "footer.html" . }}
    </main>
    {{ partial "scripts.html" . }}
    <script src="{{ "console/js/feather.min.js" | absURL }}"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
