{{ define "main" }}
<header><h1>{{ .Page.Title }}</h1></header>

{{ .Content }}

<section class="posts-list">
{{ range sort .Data.Pages "Date" "desc" }}
    {{ if not .Params.private }}
        <article class="post">
            <header>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>  <i class="svg-icon" data-feather="clock"></i> <time>{{ .PublishDate.Format "2006-01-02" }}</time></h1>
            </header>
            {{ .Description }}
        </article>
    {{ end }}
{{ end }}
</section>

{{ end }}