@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMono-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMono-Italic.woff2');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMono-Bold.woff2');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMono-Bold-Italic.woff2');
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

:root {
    --global-font-size: 16px;
    --global-line-height: 1.6em;
    --global-space: 0.625rem;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --background-color: #111;
    --page-width: 60em;
    --font-color: #FFF;
    --invert-font-color: #fff;
    --primary-color: #00ff00;
    --secondary-color: #1a95e0;
    --error-color: #d20962;
    --progress-bar-background: #727578;
    --progress-bar-fill: #00ff00;
    --code-bg-color: #000;
    --input-style: solid;
    --display-h1-decoration: none;
}


@media only screen and (max-width: 850px) {
    :root {
        --global-font-size: 14px;
        --font-color: #444;
        --global-line-height: 1.6em;
        --page-width: 70em;
    }
}


.sidebar-heading {
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
}

.box-masonry .box-masonry-image {
    background: #fff;
}

.box-masonry,
.box-masonry:hover {
    box-shadow: none;
}

.label {
    font-family: var(--font-stack);
}

body {
    font-family: var(--font-stack);
    font-size: var(--global-font-size);
    margin-bottom: 4.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-stack);
    clear: both;
}

.content-column-content p,
.content-column-content li {
    color: #666;
}

.btn-ghost {
    color: #666;
    background-color: transparent;
    border-color: #333;
    font-weight: 400;
    font-family: var(--font-stack);
    padding: 0.375rem 0.75rem;
    font-size: 1.125rem;
    line-height: 1.55;
    border-radius: 0;
    margin-left: 0;
    margin-top: 0.375rem, ;
}

.content-column-content .command {
    color: #aaa;
}

p.social a {
    margin: 0 0 10px 0;
    color: #fff;
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    border: none;
    line-height: 1.875rem;
    font-size: 20.25rem;
    text-align: center;
    vertical-align: bottom;
    color: #999999;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.active a {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

.logo {
    font-weight: normal;
}

.terminal-menu li {
    margin-right: 2rem;
}

figure {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
}

.footer {
    clear: both;
    margin-top: 6.25rem;
    padding-top: 0.625rem;
    border-top: 1px solid var(--secondary-color);
    color: var(-font-color);
}

.image-grid {
    display: grid;
    grid-template-rows: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit,
            minmax(calc(var(--page-width) / 4), 1fr));
}

.terminal-prompt::after {
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
    width: 0.625rem;
}

.terminal-prompt::before {
    content: none;
}

.gallery-image {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.posts-list {
    position: relative;
    top: 0;
    margin-top: 1.25rem;
}

.post h1 {
    padding-top: 0;
    color: var(--primary-color);
}

.posts-list h1::after,
.post h1::after {
    display: block;
    content: "====================================================================================================";
    position: absolute;
    bottom: 0.25rem;
    left: 0;
}

.svg-icon {
    display: inline-flex;
    align-self: center;
    height: var(--global-font-size);
    width: var(--global-font-size);
    top: .125rem;
    position: relative;
}

@media only screen and (max-width: 850px) {
    .site-name {
        width: 2ch;
        overflow: hidden;
        display: inline-block;
    }

    .terminal-nav {
        align-items: flex-start;
        flex-direction: column;
        display: flex;
    }

    .terminal-menu ul {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-top: 0;
    }

    .terminal-menu li {
        margin-right: 1.25rem;
    }

    .logo {
        padding: calc(var(--global-space) * 1) 0 calc(var(--global-space) * 1);
    }

    figure {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }

    .posts-list {
        position: relative;
        padding-left: 0;
        top: 0;
        margin-top: 1.25rem
    }

    .post h1 {
        padding-top: 0;
    }

    .posts-list .date {
        display: inline-block;
        position: absolute;
        left: 0px;
        width: 150px;
        height: 100%;
        z-index: 400;
        font-weight: bold;
        padding-top: 3px;
        display: none;
    }


    .footer {
        margin-top: 3.125rem;
        padding-top: 0.25rem;
        ;
    }
}