{{ define "main" }}
<article class="post">
    <header>
        <h1>{{ .Title }}</h1> <i class="svg-icon" data-feather="clock"></i> {{ .PublishDate.Format "2006-01-02 T 15:04" }}
    </header>
    {{ with .Params.linkedin }}
    // <a href="{{ . }}">Linkedin</a>
    {{ end }}
    {{ with .Params.twitter }}
    // <a href="{{ . }}">Twitter</a>
    {{ end }}
    <br />
    {{ .Content }}
    {{ template "_internal/disqus.html" . }}
</article>
{{ end }}