{{ define "main" }}

<section class="posts-list">
    <h1>Latest posts</h1>
    {{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
    <article class="post">
        <header>
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a> <i class="svg-icon" data-feather="clock"></i> <time>{{ .PublishDate.Format "2006-01-02" }}</time></h1>
        </header>
        {{ .Description }}
    </article>
    {{ end }}
    {{ end }}
</section>

{{ end }}